---
layout: default
---

<!-- Start Hero -->
<div class="hero" style="background: url('{{ site.baseurl }}/img/{{ site.hero.hero_img }}') no-repeat; background-size: cover;">
    <div class="hero-content">
        <div class="container-fluid">
            <div class="hero-content-inner">
                <h1>{{ site.hero.hero_title }}</h1>
                <p>{{ site.hero.hero_description }}</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        
        <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 form">
            <h3><svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>Nous contacter</h3>
            <form action="https://getsimpleform.com/messages?form_api_token={{ site.api_token }}" method="post">
                <div class="form-field">
                    <input name="name" type="text" placeholder="Nom" required>
                </div>
                <div class="form-field">
                    <input name="phone" type="tel" placeholder="Téléphone" required>
                </div>
                <div class="form-field">
                    <input name="email" type="email" placeholder="Email" required>
                </div>
                <div class="form-field">
                    <textarea name="comments" placeholder="Message" required></textarea>
                </div>
                <input type="submit" class="btn btn-default" value="Send">
            </form>
        </div>

    </div>
</div>
<!-- End Hero -->

<!-- Start 3 columns -->
<div class="three-shade-col">
    <div class="col-sm-4">
        <svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>
        <h3>Nous contacter</h3>
        <ul>
            {% if site.contact.phone %}<li><strong>Téléphone :</strong> {{ site.contact.phone }}</li>{% endif %}
            {% if site.contact.fax %}<li><strong>Fax :</strong> {{ site.contact.fax }}</li>{% endif %}
            {% if site.contact.email %}<li><strong>Email :</strong> {{ site.contact.email }}</li>{% endif %}
        </ul>
    </div>
    <div class="col-sm-4">
        <svg class="icon icon-clock-o"><use xlink:href="#icon-clock-o"></use></svg>
        <h3>Horaires d'ouverture <br> du secrétariat</h3>
        <table>
            <tbody>
                <tr>
                    <td>Lundi – Vendredi</td>
                    <td>{{ site.monday_friday }}</td>
                </tr>
                <tr>
                    <td>Samedi</td>
                    <td>{{ site.saturday }}</td>
                </tr>
                <tr>
                    <td>Dimanche</td>
                    <td>{{ site.sunday }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <svg class="icon icon-map-marker"><use xlink:href="#icon-map-marker"></use></svg>
        <h3>Localisation</h3>
            <p>
                {{ site.contact.address }}
            </p>
    </div>
</div>
<!-- End 3 columns -->

<!-- Start About -->
<div id="about" class="about">
    <div class="container-fluid">
        <h2 class="section-title">Docteur Mayeul Lecoq</h2>

        <div class="row">
            <div class="col-sm-6">
                <!-- <h3>Welcome to DentistSmile</h3> -->
                <h4>Spécialité : Oto-Rhino-laryngologie et chirurgie de la face et du cou</h4>
                
                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-institution"><use xlink:href="#icon-institution"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>D.I.U  Chirurgie <strong>esthétique</strong> et <strong>réparatrice</strong> du visage.</p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-hospital-o"><use xlink:href="#icon-hospital-o"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>Ancien <strong>Chef de clinique</strong> à la faculté de Nice.</p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-hospital-o"><use xlink:href="#icon-hospital-o"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>Ancien <strong>interne</strong> des hôpitaux de Nice</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="img/about.jpg" alt="...">
            </div>
        </div>
    </div>
</div>
<!-- End About -->
<!-- Start Our team -->
<div id="team" class="team"> 
    <h2 class="section-title">Le cabinet</h2> 
    <div id="team-carousel">
    {% for member in site.data.team %}
        <div>
            <div class="expandable-box-top">
                <img src="{{ site.baseurl }}/img/{{ member.image }}" >
            </div>
        </div>
    {% endfor %}
    </div>
</div>
<!-- End Our team -->


<!-- Start Treatments -->
<div id="treatments" class="treatments">
    <div class="container-fluid">
        <h2 class="section-title">Les pathologies</h2>


        
        <div class="row">
            {% for treatment in site.data.treatments %}
                <div class="col-sm-6 col-md-4">
                    <a href="{{ treatment.permalink }}">

                    <div class="icon-box">
                        <svg class="icon {{ treatment.icon }}"><use xlink:href="#{{ treatment.icon }}"></use></svg>
                        <h4>{{ treatment.title }}</h4>
                        <p>{{ treatment.description }}</p>
                    </div>

                    </a>
                </div>
                
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Treatments -->

<!-- Start Treatments -->

<div id="chirurgie" class="chirurgie">
    <div class="container-fluid">
        <h2 class="section-title">La chirurgie</h2>

        <div class="row">
            {% for treatment in site.data.treatments %}
                <div class="col-sm-6 col-md-4">
                    <div class="icon-box">
                        <svg class="icon {{ treatment.icon }}"><use xlink:href="#{{ treatment.icon }}"></use></svg>
                        <h4>{{ treatment.title }}</h4>
                        <p>{{ treatment.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Treatments -->


<!-- Start Map -->
<div id="location" class="map" data-zoom="{{ site.map.zoom }}" data-address="{{ site.map.address }}" data-address-details="<img src='{{ site.map.address_details }}'>"></div>
<!-- End Map -->
