/* FORM
-------------------------------------------------*/
.form {
    padding: $spaceDouble $space;
    background: $colorBg;
    @include breakpoint(small) {
        padding: $spaceDouble*2 $space;
    }
    input,
    textarea {
        @extend %form-fields;
    }
    textarea {
        height: 100px;
    }
    .btn {
        width: auto;
        border: 0;
        background: $orange;
    }
    .form-field {
        margin-bottom: 10px;
    }
    .icon {
        color: $orange;
    }
    h3, p{
        color: $orange;
    }
    .boxed-icon {
        border: solid 2px $orange;
        .icon {
            color: $orange;
            font-size: 1.5rem;
        }
    }
    .two-line{
        margin-top: -$margeForm;
    }
    .one-line{
        margin-top: $margeForm;
    }
}

