/* ABOUT
-------------------------------------------------*/
.pathologie {
    @extend %space;
    color: $orange;
    .media {
        margin-bottom: $space;
    }
    h2 {
        color: $orange;
    }
}