/* ABOUT
-------------------------------------------------*/
.pathologie {
    @extend %space;
    color: $orange;
    padding-left: $paddingText;
    padding-right: $paddingText; 
    .media {
        margin-bottom: $space;
    }
    h2 {
        color: $orange;
    }
    p {
    	text-align: justify;
    }
}