/* TREATMENTS
-------------------------------------------------*/
.treatments {
    @extend %space;
    background: $grey2;
    .row {
        @include breakpoint(small) {
            display: flex;
            flex-wrap: wrap;
        }
    }
    [class^="col-"] {
        @include breakpoint(small) {
            display: flex; 
        }
    }
    .icon {
        font-size: 1.5rem;
        color: $greyLight;
    }
    a:hover {
        text-decoration:none;
        color: $colorPrimary;
    }
    h2{
        color: $colorPrimary;
    }
    h4{
        color: $colorPrimary;
    }

    p{
        color: $greyLight;
    }
    
}